#custom-css {
  --mainColor: #56b88a;
  --mainColorLighter: #56b88a;
  --mainHoverColor: #64d69f;
  --mainForegroundColor: #bbb;
  --mainBackgroundColor: #1e2324;
  --submenuBackgroundColor: rgb(43, 50, 51);
  --inputForegroundColor: #bbb;
  --backgroundDark0: #1e2324;
  --backgroundDark1: #262b2c;
  --backgroundDark2: rgb(43, 50, 51);
  --backgroundMainColor: #3b4440;
  --backgroundColor2: #1e2324;
  --backgroundGrey: #373f41;
  --greyBackgroundColor: rgb(71, 78, 80);
  --greySecondaryBackgroundColor: rgb(83, 90, 92);
  --greyText0: #777;
  --greyText1: #bbb;
  --greyForegroundColor: #bbb;
  --topdayFallback: rgb(240, 156, 65);
  --topdayGradient: linear-gradient(
    45deg,
    rgba(240, 156, 65, 1) 0%,
    rgba(231, 85, 92, 1) 100%
  );
  --bs-link-color: #56b88a;
  --bs-link-hover-color: #64d69f;
  --textareaBackgroundColor: #343839;
  --textareaForegroundColor: #d6d6d6;
  --inputBackgroundColor: #343839;
  --inputBorderColor: #4a4f50;
  --mainColorLightest: #4d5658;
  background-color: #1e2324;
}

#custom-css .root-header {
  background-color: var(--backgroundDark2);
  border-bottom: 1px solid #4e4e4e;
}

#custom-css .sub-header-container {
  background-color: var(--backgroundDark0);
  color: #bbbbbb;
}

#custom-css .logged-in-block,
#custom-css .sub-menu {
  background-color: var(--backgroundDark1);
}

#custom-css .sub-menu-entry {
  color: #bbbbbb;
}

#custom-css .top-menu,
#custom-css .footer {
  background-color: var(--backgroundDark1);
  border-right: 1px solid #4e4e4e;
}

#custom-css .icon-menu {
  background-color: #bbb;
}

#custom-css .instance-name {
  color: #bbbbbb;
}

#custom-css .menu-block {
  padding: 0 8px;
}

#custom-css .menu-link,
#custom-css .logged-in-menu {
  border-radius: 8px;
}

#custom-css .menu-link {
  margin-bottom: 4px;
  border: 2px solid var(--backgroundDark1);
  transition: all 0.2s ease-in-out;
}

#custom-css my-global-icon {
  width: 20px;
  height: 20px;
}
#custom-css .menu-link.active {
  background: var(--backgroundMainColor);
  color: white;
  border: 2px solid var(--mainColor);
}
#custom-css .menu-link svg {
  color: #808080;
}
#custom-css .menu-link.active svg {
  color: var(--mainColor);
}
#custom-css .anchor-link h3 {
  font-size: 20px;
  font-weight: bold;
}

#custom-css .orange-button {
  background: var(--topdayFallback);
  background: var(--topdayGradient);
  border-radius: 8px !important;
}

#custom-css my-search-typeahead {
  justify-content: flex-end !important;
}

#custom-css #search-video {
  background-color: var(--backgroundDark2);
  border-radius: 40px;
  border: 1.5px solid #6e6e6e !important;
  padding-left: 16px;
  color: #bbb;
  transition: all 0.4s ease-in-out;
}
#custom-css #search-video {
  width: 240px;
}
#custom-css #search-video:focus {
  width: 300px;
}

#custom-css .jump-to-suggestions {
  animation-duration: 0.4s;
  animation-delay: 0.4s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: scale(0.9);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

#custom-css #typeahead-container svg {
  color: #6e6e6e;
}

#custom-css #typeahead-instructions {
  background-color: var(--backgroundDark0);
  color: #bbb;
  border: 1px solid #6e6e6e;
  margin-top: 0;
  border-radius: 12px;
}
#custom-css .jump-to-suggestions {
  margin-top: 4px;
}

#custom-css my-suggestion .bg-gray {
  background-color: var(--mainColor);
  border: none !important;
  color: #bbb;
}

#custom-css .message a {
  color: var(--mainColor);
}

#custom-css my-suggestion a.focus-visible {
  background-color: var(--mainColor);
}

#custom-css .results-filter-button svg {
  color: #6e6e6e;
}

#custom-css .peertube-container {
  background-color: #242424;
}

#custom-css my-instance-features-table {
  position: sticky;
  top: 120px;
}
#custom-css .feature-table .label,
#custom-css .feature-table .value {
  padding: 4px;
}
#custom-css .card.stat {
  background-color: var(--backgroundDark2);
}

#custom-css .main-col .sub-menu {
  height: 60px;
  border-bottom: 1px solid #4e4e4e;
}
#custom-css .logged-in-block > div:first-child {
  height: 60px;
  border-bottom: 1px solid #4e4e4e;
}
#custom-css .logged-in-menu {
  margin-top: 16px;
  border-top: none;
}

#custom-css my-about-instance .block {
  margin-bottom: 32px;
}
#custom-css my-about-instance .middle-title {
  margin-top: 32px;
}

#custom-css .modal-content {
  background-color: var(--backgroundDark2);
}

#custom-css .feather-help-circle {
  color: #777;
}

#custom-css .ng-option-marked {
  background: var(--backgroundDark2);
}

#custom-css .ng-option-selected {
  background: var(--backgroundMainColor);
}

#custom-css .modal-dialog {
  width: 48vw;
}
#custom-css .dropdown-menu {
  background-color: var(--backgroundDark2);
  border: 1px solid #4e4e4e;
}
#custom-css .dropdown-item:hover {
  background-color: #ffffff1a;
}
#custom-css .nav-link.active {
  background-color: #ffffff1a !important;
}

#custom-css .active-filter.pastille {
  background-color: #616277;
  color: #ddd;
}

#custom-css .ng-dropdown-panel-items .ng-optgroup {
  color: var(--greyText1);
}

#custom-css .peertube-title > .icon-logo {
  width: 48px;
  margin-inline-end: 0;
}
#custom-css .peertube-title .instance-name {
  font-weight: 400;
}

#custom-css .help-to-translate {
  display: none;
}

#custom-css .modal-body a {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
}
#custom-css .modal-body a:hover {
  background: #313131;
  border-radius: 8px;
}

#custom-css .title-subscription {
  display: none;
}

#custom-css .popover-notifications {
  background: var(--backgroundDark1);
}

#custom-css .notifications-header,
#custom-css .notifications-header a {
  color: var(--greyText1);
}

#custom-css .popover-notifications .from-date {
  color: var(--greyText0);
}

#custom-css .dropdown-menu .muted {
  color: var(--greyText0) !important;
}

#custom-css .alert.pt-alert-primary {
  background-color: var(--backgroundGrey);
}

#custom-css .filters-toggle {
  color: var(--greyText1);
}
#custom-css .notification-inbox-popover {
  color: var(--greyText1);
}
#custom-css .logged-in-menu {
  padding: 0 8px;
}

#custom-css .peertube-select-container {
  background-color: var(--backgroundDark2);
  border: solid 1px var(--greyText1);
}
#custom-css .peertube-select-container.peertube-select-button select {
  color: var(--greyText1);
  cursor: pointer;
}
#custom-css .ng-select-container .ng-arrow-wrapper {
  display: none;
}

#custom-css .custom-sort-select {
  position: relative;
}
#custom-css .custom-sort-select svg {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 10000;
}
#custom-css .custom-sort-select .ng-select-container {
  border: none;
}

@media (min-width: 1000px) {
  my-video-filters-header {
    position: absolute;
    top: 80px;
    right: 40px;
  }
}

@media (max-width: 1000px) {
  my-videos-list .margin-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
